.header1 {
    width: 175px;
    height: 77px;
    margin: 7px;
    padding-top: 33px;
    padding-right: 10em;
    padding-bottom: 22%;
    padding-left: 11vw;
    direction: ltr;
    color: var(--newew);
    border: var(--lil);
}
